.feature-row {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px;
  width: 100%;
  box-sizing: border-box;
  background: rgb(248, 249, 250);
  border-radius: 12px;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
  border-image: initial;
  transition: 0.3s;
  animation: 0.5s ease-out 0s 1 normal none running fadeIn;
}

.feature-name {
  font-weight: 600;
  font-size: 1rem;
  color: red;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-description {
  margin: 0.5rem 0 0;
  line-height: 1.5;
  color: #333;
  font-size: 0.8rem;
}

.feature-score {
  display: flex;
  align-items: center;
}
